<div class="relative grid h-full w-full place-content-center">
  <img
    src="assets/plv-100.jpg"
    alt=""
    srcset=""
    class="absolute -z-[1] h-full object-cover object-top brightness-75"
  />

  <div class="mx-auto px-4">
    <div
      class="flex h-fit w-full max-w-[387px] flex-col gap-4 rounded-[3px] bg-base-100 px-[2rem] py-8"
    >
      <div class="flex flex-col gap-2 py-4">
        <h1 class="text-[2rem] ">Login</h1>
        <p class="text-xs ">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostru
        </p>
      </div>
      <app-input placeholder="Email" type="email" />
      <app-input placeholder="Password" type="password" />
      <app-button>LOGIN</app-button>
      <div class="flex flex-col gap-2">
        <div
          class="flex flex-row content-center gap-2 text-[14px] text-[#4F4F4F]"
        >
          <img
            class="w-full flex-grow"
            src="assets/divider.svg"
            alt=""
            srcset=""
          />OR<img
            src="assets/divider.svg"
            alt=""
            class="w-full flex-grow"
            srcset=""
          />
        </div>
        <div
          class="flex w-full flex-row justify-center gap-2 px-1 text-[#4F4F4F]"
        >
          <img src="assets/google.svg" alt="" />
          <a href="/">Login with Google</a>
        </div>
      </div>
      <div class="flex-grow"></div>
      <div class="flex w-full flex-row justify-center gap-2 text-[#4F4F4F]">
        Don't have an account? <a class="text-black" href="/">SIGN UP</a>
      </div>
    </div>
  </div>
</div>
