<div class="flex h-screen flex-col justify-center">
  <div
    class="card mx-auto w-96 bg-base-100 shadow-xl"
    *ngIf="supabaseService.capstoolUser$ | async as user"
  >
    <figure class="px-10 pt-10">
      <img
        src="{{ 'https://api.multiavatar.com/' + user.id + '.png' }}"
        alt="Shoes"
        class="w-24 rounded-xl"
      />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">{{ user.name }}</h2>
      <div class="badge-secondary badge">{{ user.roleId }}</div>
      <p>{{ user.id }}</p>
      <div class="card-actions">
        <button class="btn-primary btn" (click)="signOut()">Sign out</button>
      </div>
    </div>
  </div>

  <div class="mx-auto flex w-fit flex-col gap-8">
    <div class="form-control">
      <label class="input-group">
        <span>Project Title</span>
        <input
          [(ngModel)]="title"
          type="text"
          placeholder="Development and Evaluation of ..."
          class="input-bordered input"
        />
      </label>
    </div>
    <label for="my-modal" class="btn-primary btn" (click)="checkTitleQuality()"
      >Check Title Quality</label
    >
  </div>
</div>

<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Title Quality Check Result</h3>
    <p class="py-4">
      {{ result | json }}
    </p>
    <div class="modal-action">
      <label for="my-modal" class="btn" (click)="removeResult()">Yay!</label>
    </div>
  </div>
</div>
